.title {
  color: $colorDanger;
}
.title2 {
  color: $colorPrimary;
  font-size: 1rem;
}
.demo-bg {
  height: 100px;
  width: 100px;
  border: 1px solid red;
  background-image: url('../../assets/images/santa_claus.png')
}