$colorPrimary: #4CA6FF;
$colorSuccess: #00E68C;
$colorWarn: #FF9600;
$colorDanger: #F84966;
$colorDisable: #D8D8D8;

$colorPlaceholder: #A9AEB6;

$textColorTitle: #333;
$textColorSub: #666;
// $textColorSub: #999;
// $textColorSub: #c9c9c9;
// $textColorSub: #d8d8d8;
// $textColorSub: #F8F8F8;

$heightHeader: 100px !default;
$heightFooter: 80px !default;
